.header {
  border-bottom: solid;
  border-width: thin;
}

.header-text {
  font-size: 40px;
}

.sub-header-text {
  font-weight: 300;
  margin-top: 0;
}

.sub-sub-header-text {
  font-style: italic;
  font-weight: 300;
}
